  <h1>位置情報取得サンプル2</h1>
  <div id="map" style="width:400px; height:300px"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4Jr1NrfngK80oIANtzFL6LWsYJSKoz3c&callback=initMap"></script>