
<!---
<div class="top-main">
  <div class="main-access">
    <%= link_to posts_path do %>
      <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
    <% end %>
  </div>
</div>
--->

<div class="top-main">
  <div class="container container-top">
  <div class="row offset-2">
    <div class="box1 col-md-2 offset-md-1">
      <%= link_to posts_path do %>
        <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
      <% end %>
      <div class=>
    </div>
    <div class="box2 col-md-2 offset-md-1">
      <%= link_to shops_path do %>
        <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
      <% end %>
    </div>
    <div class="box3 col-md-2 offset-md-1">
      <%= link_to events_path do %>
        <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
      <% end %>
    </div>
  </div>
  <div>
</div>
