<div class="top-main">
  <div class="main-access">
    <%= link_to posts_path do %>
      <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
    <% end %>
  </div>
</div>