<!---

<div class="top-main">
  <div class="main-access">
    <%= link_to posts_path do %>
      <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
    <% end %>
  </div>
</div>
--->

<div class="container">
  <div class="row">
    <div class="box1 col-4">
      <%= link_to posts_path do %>
        <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
      <% end %>
    </div>
    <div class="box2 col-4">
      <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
    </div>
    <div class="box3 col-4">
      <img src="https://img.icons8.com/color/96/000000/natural-food.png", width="150" height="150", class="top-icon">
    </div>
  </div>
<div>

<div class="container text-white">
    <div class="row">
        <div class="col-4 border bg-success">
            ①
        </div>
        <div class="col-4 border bg-success">
            ②
        </div>
        <div class="col-4 border bg-success">
            ③
        </div>
    </div>
</div>