<div class="top-main">
  <div class="container container-top">
    <div class="row top-title">
      <div class="toptitle-box col-12 text-white">
        <a class="small-text1">CULT.</a><a class="small-text2">ivate</a>
      </div>
    </div>
    <div class="row top-detail">
      <div class="toptitle--detail-box col-12 text-white">
        <p>お気に入りの観葉植物の写真やお店を皆でシェア。自分の観葉植物の水やりも忘れずに。</p>
        <p>観葉植物好きなあなたに送る、少しニッチで便利なサービス。</p>
      </div>
    </div>
    <div class="row top-options">
      <div class="top-options-box col-md-4">
        <div class="icon-cover">
          <%= link_to shops_path do %>
            <img src="/assets/shop.png", width="200" height="200", class="top-icon">
          <% end %>
        </div>
        <div class="options-detail">
          <p>おすすめのお店</p>
        </div>
      </div>
      <div class="top-options-box col-md-4">
        <div class="icon-cover">
          <%= link_to posts_path do %>
            <img src="/assets/camera.png/", width="200" height="200", class="top-icon">
          <% end %>
        </div>
        <div class="options-detail">
          <p>コミュニティ</p>
        </div>
      </div>
      <div class="top-options-box col-md-4">
        <div class="icon-cover">
        <%= link_to events_path do %>
          <img src="/assets/watering.png", width="200" height="200", class="top-icon">
        <% end %>
        </div>
        <div class="options-detail">
          <p>マイプラント管理</p>
        </div>
      </div>
    </div>
  <div>
</div>
</div>
