.newpost{
  margin-top: 200px;
  width: 100%;
  border: solid 5px green; 
  padding: 2%;
}


///////投稿ページ


.newpost-text{
  width: 200px;
  height: 200px;
}

.newpost-box{
  display: flex;
  justify-content: center;
}

// .hidden{
//   display: none;
// }

.post-image-icon{
  height: 50px;
  width: 50px;
}

.newpost-each{
  text-align: center;
}