.event-top{
  width: 100%;
  margin-top: 100px;
  border: solid 3px green;
}

.plant-registration{
  padding: 10px 0 ;
  display: flex;
  justify-content: center;
}

.plant-list{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap:wrap;
}

.plant-list-box{
  border: solid 3px green;
  margin: 0 5px;
  width: 205px;
}

.myplant-image{
  border: solid 2px green;
}

.my-plant-calender{
  padding: 20px 20%;
}


///original-edit

.edit-original{
  margin-top: 200px;
  width: 100%;
  border: solid 5px green; 
  padding: 2%;
}


.edit-original-box{
  display: flex;
  justify-content: center;
}

.post-image-icon{
  height: 50px;
  width: 50px;
}

.edit-original-each{
  margin: 0 auto;
  text-align: center;
}



.card-img-top-event{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.card-event{
  width: 200px;
  height: 100%;
  text-align: center;
}