.event-top{
  width: 100%;
  margin-top: 100px;
  border: solid 3px green;
}

.plant-registration{
  padding: 10px 0 ;
  display: flex;
  justify-content: center;
}

.plant-list{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap:wrap;
}

.plant-list-box{
  border: solid 3px green;
  margin: 0 5px;
  width: 205px;
}

.myplant-image{
  border: solid 2px green;
}

.my-plant-calender{
  padding: 20px 20%;
}


///original-edit

.container-original{
  margin-top: 150px;
  width: 100%;
  padding: 2%;
}


.original-title{
  text-align: center;
}

.original-pic-box {
  text-align: center;
}

.original-name{
  text-align: center;
}

.original-submit{
  text-align: center;
}


#img2{
  border: inset 10px gray;
  background-image: url("pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 30px;
}

#img2:hover{
  background-color: lightgoldenrodyellow; 
  cursor: pointer;
}


.original-title {
  color: green;
  font-size: 30px;
}