.shopping-main{
  height: 100vh;
  width: 100%;
  background-color: yellow;
}
.shopping-map{
  height: 600px;
  width: 100%;
  background-color: olive;
}

.shopping-amazon{
  height: 600px;
  width: 100%;
  background-color: yellow;
}