// .main.show{
//   padding-top: 90px;
//   width: 90vw;
//   height: calc(100vh) ;
//   background-color: yellowgreen;
//   margin: 0 auto;
//   display:block;
// }

.main{
  padding-top: 90px;
  width: 80vw;
  height: 100vh;
  // background-color: lightgreen;
  margin: 0 auto;
  // display: none;
}

.options{
  margin: 0 auto;
  height: 100px;
  // background-color: lightcoral;
  display: flex;
  justify-content: space-between;
}

.menu{
  display: flex;
  margin: 0 auto;
}

.menu_item.active{
  display: inline-block;
  padding: 15px;
  border: 5px solid #7BC61A;
  background: green;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  width: 200px;
  margin: 0 20px;
  text-align: center;
}

.menu_item{
  display: inline-block;
  padding: 15px;
  border: 5px solid #7BC61A;
  color:#7BC61A;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  width: 200px;
  margin: 0 20px;
  text-align: center;
}

.post-search-box{
  height: 100px;
  width: 900px;
  margin: 0 auto;
  // padding: 30px;
  border:solid 5px saddlebrown;
  background-color: wheat;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}


.post-search-submit{
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  color: white;
}

.post-search-form{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#keyword{
  width: 500px;
  height: 50px;
  border: solid 2px saddlebrown;
  font-size: 20px;
  border-radius: 50px;
  padding-left: 15px;
}

.swich.show{
  display: block;
  padding-bottom: 40px;
}

.swich{
  display: none;
  padding-bottom: 40px;
}

// .row post-cards.show{
//   display: none;
//   padding-bottom: 40px;
// }

// .row post-cards{
//   display: block;
//   padding-bottom: 40px; 
// }



// .contents-box.show{
//   flex-wrap:wrap;
//   display: flex;
//   justify-content: space-between;
//   overflow: scroll;
//   padding: 20px 50px 0px 50px;
//   display: block;
// }

.contents-box{
  flex-wrap:wrap;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px 50px 0px 50px;
  // display: none;
  // overflow: scroll;
}

.content{
  width: 300px;
  // height: 500px;
  background-color: white;
  margin: 20px;
  border-radius: 50px;
  border: solid 5px #7BC61A;
}

.content-header{
  height: 40px;
  // background-color: red;
  width: 100%;
  padding: 5px 15px;
  font-size: 20px;
  border-bottom:solid 5px #7BC61A;
}

.content-header a{
  text-decoration: none;
  color:  green;
} 

.content-main{
  width: 100%;
  height: 300px;
  // background-color: rebeccapurple;
}

.content-main-text{
  width: 100%;
  height: 80px;
  padding: 5px 15px;
}

.content-main-image{
  width: 100%;
  height: 100%;
  // background-color: cornflowerblue;
  display: flex;
  justify-content: center;
}

.post-image{
  border: solid 3px green;
}

.content-footer{
  background-color: #7BC61A;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

.schedule__box{
  width: 800px;
  margin: 0 auto;
  background-color: gray;
  margin-bottom: 10px;
}

.card-index{
  border: solid 2px green;
  border-radius: 60px;
}

.container-posts{
  margin-top: 80px;
}


.new-post-btn {
  &--pc {
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background-color: green;
    color: white;
    text-align: center;
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
    padding-top: 64px;
    &:hover {
      text-decoration: none;
      background-color: darkgreen;
      color: white;
    }
  }
  &--sp {
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    background-color: green;
    color: white;
    text-align: center;
    bottom: 16px;
    right: 16px;
    width: 80px;
    height: 80px;
    font-size: 38px;
    padding-top: 12px;
    &:hover {
      text-decoration: none;
      background-color:darkgreen;
      color: white;
    }
  }
}