// .main.show{
//   padding-top: 90px;
//   width: 90vw;
//   height: calc(100vh) ;
//   background-color: yellowgreen;
//   margin: 0 auto;
//   display:block;
// }

.main{
  padding-top: 90px;
  width: 90vw;
  height: 100vh;
  background-color: yellowgreen;
  margin: 0 auto;
  // display: none;
}

.options{
  margin: 0 auto;
  height: 100px;
  width: 300px;
  // background-color: lightcoral;
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  margin: 0 auto;
}

.menu_item.active{
  display: inline-block;
  padding: 15px;
  border: 5px solid lightskyblue ;
  background: #353d3e;
  color: #fff;
}

.menu_item{
  display: inline-block;
  padding: 15px;
  border: 5px solid lightskyblue ;
}

.post-search-box{
  height: 100px;
  width: 800px;
  background-color: black;
  margin: 0 auto;
  padding: 30px;
}

.post-search-form{
}

.swich.show{
  display: block;
}

.swich{
  display: none;
}


// .contents-box.show{
//   flex-wrap:wrap;
//   display: flex;
//   justify-content: space-between;
//   overflow: scroll;
//   padding: 20px 50px 0px 50px;
//   display: block;
// }

.contents-box{
  flex-wrap:wrap;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px 50px 0px 50px;
  // display: none;
  // overflow: scroll;
}

.content{
  width: 400px;
  height: 500px;
  background-color: blue;
  margin: 20px;
}

.content-header{
  height: 100px;
  background-color: red;
  width: 100%;
}

.content-main{
  width: 100%;
  height: 300px;
  background-color: rebeccapurple;
}

.content-main-text{
  width: 100%;
  height: 100px;
  background-color: yellow;
}

.content-main-image{
  width: 100%;
  height: 200px;
  background-color: cornflowerblue;
}

.content-footer{
  background-color: darkgray;
  width: 100%;
  height: 100px;
}

.schedule__box{
  width: 800px;
  margin: 0 auto;
  background-color: gray;
  margin-bottom: 10px;
}