.show-main{
  padding-top: 90px;
  width: 90vw;
  height: calc(100vh) ;
  background-color: yellowgreen;
  margin: 0 auto;
  display: flex;
}

.show-left{
  width: calc(90vw/2);
  background-color: yellow;
}

.show-right{
  width: calc(90vw/2);
  background-color: violet;
}

.comment-create{
  height: 300px;
  width: 600px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.comment-create-header{
  padding: 10px 0;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  background-color: yellow;
}

textarea {
  resize: none;
  width:600px;
  height:200px;
  margin: 0 auto;
}

.comment-list{
  background-color: green;
  height: calc(100vh-300px);
  margin-top: 500px;
  padding: 15px 30px 0 30px;
  width: 800px;
  margin: 0 auto;
}

.comment-header{
  height: 30px;
  line-height: 30px;
  background-color: blue;
  width: 750px;
}

.comment-content{
  background-color: palegreen;
  overflow: scroll;
}

.comment-box{
  display: flex;
}


.container-postshow{
  margin-top: 100px;
  margin-bottom: 100px;
}

.postshow-left{
  // background-color: blue;
}

.postshow-right{
  // background-color: yellow;
  height: 100%;
}

.postshow-card{
  width: 450px;
  height: 100%;
  margin: 0 auto;
}

.card-img-top-postshow{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 450px;
}

.post-show-comment-text{
  height: 100px;
  width: 90%;
  border: solid 2px green;
  border-radius: 30px;
  padding: 0 20px;
}

.postshow-comment-header{
  margin-top: 10px;
  border-bottom: solid 2px green;
  font-size: 20px;
  text-align: center;
}

.postshow-comment-box{
  border-bottom: dotted 2px green;
}

// .postshow-comment-create{
//   border: solid 3px green;
//   border-radius: 30px;
// }

.postshow-comment-create{
  text-align: center;
  padding: 15px;
}

.comment-content-change{
    text-align: right;
}

// .comment-content-message{
//   padding: 0 50px;
// }


.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }