* {
  box-sizing: border-box;
}

.header {
  height: 90px;
  background-color: darkgreen;
  color: #ffffff;
}

.main{
  margin-top: 90px;
  width: 90vw;
  height: calc(100vh) ;
  background-color: yellowgreen;
  margin: 0 auto;
  display: flex;
}


.contents-box{
  flex-wrap:wrap;
  display: flex;
  overflow: scroll;
  padding: 20px 50px 0px 50px;
}

.content{
  width: 400px;
  height: 500px;
  background-color: blue;
  margin: 20px;
}

.content-header{
  height: 100px;
  background-color: red;
  width: 100%;
}

.content-main{
  width: 100%;
  height: 300px;
  background-color: rebeccapurple;
}

.content-main-text{
  width: 100%;
  height: 100px;
  background-color: yellow;
}

.content-main-image{
  width: 100%;
  height: 200px;
  background-color: cornflowerblue;
}

.content-footer{
  background-color: darkgray;
  width: 100%;
  height: 100px;
}

.schedule__box{
  width: 800px;
  margin: 0 auto;
  background-color: gray;
  margin-bottom: 10px;
}

.footer {
  height: 50px;
  background-color: darkgreen;
  color: white;
  bottom: 0;
}

// #map {
//   height: 100%;
// }


// .contents {
//   height: calc(100vh - 90px - 20px);
//   width:900px;
//   margin: 0 auto;
//   background-color: #fffacd;
//   &__message{
//     padding: 40px;
//     color:#ffa500;
//     font-size:30px;
//     text-align: center;
//   }
//   &__btn{
//     display: block;
//     height: 80px;
//     width :360px;
//     margin:0 auto 50px;
//     border-radius: 10px;
//     font-size:20px;
//     color:#fff;
//     text-decoration: none;
//     text-align: center;
//     line-height: 80px;
//     &--icon{
//       padding-right:20px;
//     }
//     &--facebook{
//       background-color: #4169e1;
//     }
//     &--twitter{
//       background-color: #00bfff;
//     }
//     &--instagram{
//       background-color: #fc76bf;
//     }
//   }
// }

.show-main{
  margin-top: 90px;
  width: 90vw;
  height: calc(100vh) ;
  background-color: yellowgreen;
  margin: 0 auto;
  display: flex;
}

.show-left{
  width: calc(90vw/2);
  background-color: yellow;
}

.show-right{
  width: calc(90vw/2);
  background-color: violet;
}

.comment-create{
  height: 300px;
  width: 600px;
  background-color: black;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.comment-create-header{
  padding: 10px 0;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  background-color: yellow;
}

// .comment-create-main{
//   color: white;
//   text-align: center;
//   margin: 0 auto;
// }

textarea {
  resize: none;
  width:600px;
  height:200px;
  margin: 0 auto;
}

.comment-list{
  background-color: green;
  height: calc(100vh-300px);
  margin-top: 500px;
  padding: 15px 30px 0 30px;
  width: 800px;
  margin: 0 auto;
}

.comment-header{
  height: 30px;
  line-height: 30px;
  background-color: blue;
  width: 750px;
}

.comment-content{
  background-color: palegreen;
  overflow: scroll;
}

.comment-box{
  display: flex;
}