.shopping-main{
  height: 100vh;
  width: 100%;
  background-color: yellow;
  padding-top: 90px;
}
.shopping-map{
  height: 600px;
  width: 100%;
  background-color: olive;
}

.shopping-amazon{
  height: 600px;
  width: 100%;
  background-color: blue;
}

#map {
  height: 400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 80%
}