// .shopping-main{
//   height: 100vh;
//   width: 100%;
//   background-color: yellow;
//   padding-top: 90px;
// }
// .shopping-map{
//   height: 600px;
//   width: 100%;
//   background-color: olive;
// }

// .shopping-amazon{
//   height: 600px;
//   width: 100%;
//   background-color: blue;
// }

#map {
  height: 100%;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  padding: 5px;
  border: solid 2px black;
}

.shop-newpost{
  margin-top: 150px;
  // border: solid 3px green;
  // padding: 20px 35px 20px 20px;
  border-radius: 20px;
  margin-bottom: 60px;
}


.newpost-box2-each1{
  margin-top: 20px;
  text-align: center;
}

.newpost-box2-each2{
  margin-top: 20px;
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}



.controls{
  margin-top: 10px;
  border-radius: 30px;
  border: solid 3px black;
  height: 30px;
  width: 400px;
}

.newpost-box1-each1 h1{
  text-align: center;
  font: bold;
}

.plantshop-textform{
  height: 250px;
  width: 250px;
}

.new-shop{
  padding-bottom: 20px;
}

.newshop-title{
  color: green;
  font-size: 30px;
}
