// .top-main{
//   height: 100vh;
//   width: 100vw;
//   position: fixed;
//   // background-image: url("/assets/threegreen.png");
//   background-size: 100%;
//   background-repeat:  no-repeat;
//   background-position: top center; 
//   display: flex;
//   justify-content: center;
// }

.top-main {
  background-image: url(/assets/threegreen.png);
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  width: 100%;
  position: relative;
}


.main-access{
  margin-top: 200px;
}

.top-icon {
  border-radius: 80px;
  border: 5px solid #7BC61A;
  background-color: white;
  margin: 10px;
}

.up {
  height: 300px;
  width: 100%;
  background-color: blue($color: #000000);
}


.container-top{
  padding-top: 10%;
}