.top-main{
  height: 100vh;
  width: 100vw;
  padding-top: 60px;
  position: fixed;
  background-image: url("/assets/threegreen.png");
  background-size: 100%;
  background-repeat:  no-repeat;
  background-position: top center; 
  display: flex;
  justify-content: center;
}

.main-access{
  margin-top: 200px;
}

.top-icon {
  border-radius: 80px;
  border: 5px solid #7BC61A;
  background-color: white;
}